<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Pesanan</title>
    <link rel="stylesheet" href="../style/mainan.css">
</head>
<body>
    <nav>
        <div class="judul judul1">
            <b>
                PLUM
            </b>
        </div>
    </nav>
    <div class="shoping">
        <a href="../php/tambah.php">
            <img src="../assets/shopping_cart_yellow_icon_192687.png" alt="#">
        </a>
    </div>
    <div class="content">
        <div class="atas">
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="https://res.cloudinary.com/ruparupa-com/image/upload/w_200,h_200/v1694621293/Products/10517421_1.webp" alt="#"></a>
                </div>
                <p>Robot Tricop Space Police S4</p>
                <b>Rp. 1.299.900</b>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="https://res.cloudinary.com/ruparupa-com/image/upload/w_200,h_200/v1694610497/Products/10517422_1.webp" alt="#"></a>
                </div>
                <p>Robot Animaltron Lion S4</p>
                <b>Rp. 549.900</b>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="https://res.cloudinary.com/ruparupa-com/image/upload/w_200,h_200/v1694610503/Products/10517423_1.webp" alt="#"></a>
                </div>
                <p>Robot Animaltron Elie S4</p>
                <b>Rp. 579.900</b>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="https://res.cloudinary.com/ruparupa-com/image/upload/w_200,h_200/v1694613964/Products/10517420_1.webp" alt="#"></a>
                </div>
                <p>Robot Leocop Space Police S4</p>
                <b>Rp. 899.900</b>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="https://res.cloudinary.com/ruparupa-com/image/upload/w_200,h_200/v1694624925/Products/10517425_1.webp" alt="#"></a>
                </div>
                <p>Robot Animaltron Croker S4</p>
                <b>Rp. 579.900</b>
            </div>
        </div>
    
</body>
</html>