<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Pesanan</title>
    <link rel="stylesheet" href="../style/mainan.css">
</head>
<body>
    <nav>
        <div class="judul judul1">
            <b>
                NERF
            </b>
        </div>
    </nav>
    <div class="shoping">
        <a href="../php/tambah.php">
            <img src="../assets/shopping_cart_yellow_icon_192687.png" alt="#">
        </a>
    </div>
    <div class="content">
        <div class="atas">
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="https://res.cloudinary.com/ruparupa-com/image/upload/w_200,h_200/v1639453757/Products/10463131_1.webp" alt="#"></a>
                </div>
                <p>Nerf Elite 2.0 Blaster Loadout</p>
                <b>Rp. 479.940</b>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="https://res.cloudinary.com/ruparupa-com/image/upload/w_200,h_200/v1666674448/Products/10468874_1.webp" alt="#"></a>
                </div>
                <p>Nerf Minecraft Stormlander</p>
                <b>Rp. 524.930</b>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="https://res.cloudinary.com/ruparupa-com/image/upload/w_200,h_200/v1639626562/Products/10463132_1.webp" alt="#"></a>
                </div>
                <p>Nerf Fortnite Flare</p>
                <b>Rp. 349.930</b>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="https://res.cloudinary.com/ruparupa-com/image/upload/w_200,h_200/v1669304573/Products/10484808_1.webp" alt="#"></a>
                </div>
                <p>Nerf Elite 2.0 Motoblitz Cs</p>
                <b>Rp. 1.499.900</b>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="https://res.cloudinary.com/ruparupa-com/image/upload/w_200,h_200/v1693278530/Products/10512536_1.webp" alt="#"></a>
                </div>
                <p>Nerf Roblox Rev</p>
                <b>Rp. 1.199.900</b>
            </div>
        </div>
    
</body>
</html>