<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="content">
        <div class="atas">
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="https://res.cloudinary.com/ruparupa-com/image/upload/w_200,h_200/f_auto,q_auto:eco/v1640160221/Products/10468705_3.png" alt="LEGO"></a>
                </div>
                <b>Lego City Police Car</b>
            </div>
</body>
</html>