<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Pesanan</title>
    <link rel="stylesheet" href="../style/mainan.css">
</head>
<body>
    <nav>
        <div class="judul judul1">
            <b>
                SUPER WINGS
            </b>
        </div>
    </nav>
    <div class="shoping">
        <a href="../php/tambah.php">
            <img src="../assets/shopping_cart_yellow_icon_192687.png" alt="#">
        </a>
    </div>
    <div class="content">
        <div class="atas">
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="https://res.cloudinary.com/ruparupa-com/image/upload/w_200,h_200/v1686917159/Products/10517318_1.webp" alt="#"></a>
                </div>
                <p>Superwings Transforming Jerome & Super Pet</p>
                <b>Rp. 349.900</b>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="https://res.cloudinary.com/ruparupa-com/image/upload/w_200,h_200/v1653469453/Products/10472890_1.webp" alt="#"></a>
                </div>
                <p>Superwings Transforming & Superpet Dizzy</p>
                <b>Rp. 279.920</b>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="https://res.cloudinary.com/ruparupa-com/image/upload/w_200,h_200/v1653469323/Products/10472889_1.webp" alt="#"></a>
                </div>
                <p>Superwings Transforming & Superpet Donie</p>
                <b>Rp. 279.920</b>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="https://res.cloudinary.com/ruparupa-com/image/upload/w_200,h_200/v1653452738/Products/10472876_1.webp" alt="#"></a>
                </div>
                <p>Superwings-transforming Jett & Tino</p>
                <b>Rp. 439.920</b>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="https://res.cloudinary.com/ruparupa-com/image/upload/w_200,h_200/v1686920782/Products/10517314_1.webp" alt="#"></a>
                </div>
                <p>Superwings Transforming Shine</p>
                <b>Rp. 299.900</b>
            </div>
        </div>
    
</body>
</html>