<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Pesanan</title>
    <link rel="stylesheet" href="../style/mainan.css">
</head>
<body>
    <nav>
        <div class="judul judul1">
            <b>
                BABY ALIVE
            </b>
        </div>
    </nav>
    <div class="shoping">
        <a href="../php/tambah.php">
            <img src="../assets/shopping_cart_yellow_icon_192687.png" alt="#">
        </a>
    </div>
    <div class="content">
        <div class="atas">
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="https://res.cloudinary.com/ruparupa-com/image/upload/w_200,h_200/f_auto,q_auto/v1669599278/Products/10495889_1.webp" alt="#"></a>
                </div>
                <p>Princess Ellie Grows Up</p>
                <b>Rp. 1.259.930</b>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="https://res.cloudinary.com/ruparupa-com/image/upload/w_200,h_200/f_auto,q_auto/v1633075822/Products/10454175_1.webp" alt="#"></a>
                </div>
                <p>Mainan Lulu Achoo Blonde</p>
                <b>Rp. 1.079.940</b>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="https://res.cloudinary.com/ruparupa-com/image/upload/w_200,h_200/f_auto,q_auto/v1690168494/Products/10448631_1.webp" alt="#"></a>
                </div>
                <p>Boneka Glo Pixies</p>
                <b>Rp. 149.940</b>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="https://res.cloudinary.com/ruparupa-com/image/upload/w_200,h_200/f_auto,q_auto/v1575094146/Products/10213553_1.webp" alt="#"></a>
                </div>
                <p>Boneka Bayi Snacking Lily Blonde</p>
                <b>Rp. 499.900</b>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="https://res.cloudinary.com/ruparupa-com/image/upload/w_200,h_200/f_auto,q_auto/v1612783128/Products/10428353_1.webp" alt="#"></a>
                </div>
                <p>Boneka Bayi Dino Cuties</p>
                <b>Rp. 299.950</b>
            </div>
        </div>
    
</body>
</html>