<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Pesanan</title>
    <link rel="stylesheet" href="../style/mainan.css">
</head>
<body>
    <nav>
        <div class="judul judul1">
            <b>
                SUPER WINGS
            </b>
        </div>
    </nav>
    <div class="shoping">
        <a href="../php/tambah.php">
            <img src="../assets/shopping_cart_yellow_icon_192687.png" alt="#">
        </a>
    </div>
    <div class="content">
        <div class="atas">
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="https://res.cloudinary.com/ruparupa-com/image/upload/w_200,h_200/v1681140812/Products/10513245_1.webp" alt="#"></a>
                </div>
                <p>The Flash Movie Batman Multiverse</p>
                <b>Rp. 349.930</b>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="https://res.cloudinary.com/ruparupa-com/image/upload/w_200,h_200/v1668834625/Products/10483271_1.webp" alt="#"></a>
                </div>
                <p>The Flash Wally West</p>
                <b>Rp. 224.950</b>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="https://res.cloudinary.com/ruparupa-com/image/upload/w_200,h_200/v1655893752/Products/10462297_1.webp" alt="#"></a>
                </div>
                <p>Aquaman Endless Winter</p>
                <b>Rp. 224.950</b>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="https://res.cloudinary.com/ruparupa-com/image/upload/w_200,h_200/v1678165511/Products/10508724_1.webp" alt="#"></a>
                </div>
                <p>The Joker</p>
                <b>Rp. 239.950</b>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="https://res.cloudinary.com/ruparupa-com/image/upload/w_200,h_200/v1642214833/Products/10461618_1.webp" alt="#"></a>
                </div>
                <p>Animated Superman</p>
                <b>Rp. 174.900</b>
            </div>
        </div>
    
</body>
</html>