<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Pesanan</title>
    <link rel="stylesheet" href="../style/mainan.css">
</head>
<body>
    <nav>
        <div class="judul judul1">
            <b>
                LEGO
            </b>
        </div>
    </nav>
    <div class="shoping">
        <a href="../php/tambah.php">
            <img src="../assets/shopping_cart_yellow_icon_192687.png" alt="#">
        </a>
    </div>
    <div class="content">
        <div class="atas">
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="https://res.cloudinary.com/ruparupa-com/image/upload/w_200,h_200/f_auto,q_auto/v1640160212/Products/10468705_1.webp" alt="LEGO"></a>
                </div>
                <p>Lego City Police Car</p>
                <b>Rp. 129.500</b>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="https://res.cloudinary.com/ruparupa-com/image/upload/w_200,h_200/f_auto,q_auto/v1640155507/Products/10468697_1.webp" alt="#"></a>
                </div>
                <p>Lego Technic Monster</p>
                <b>Rp. 246.600</b>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="https://res.cloudinary.com/ruparupa-com/image/upload/w_200,h_200/f_auto,q_auto/v1645593223/Products/10474133_1.webp" alt="#"></a>
                </div>
                <p>Lego Creator Super Robot</p>
                <b>Rp. 149.600</b>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="https://res.cloudinary.com/ruparupa-com/image/upload/w_200,h_200/f_auto,q_auto/v1640156438/Products/10468698_1.webp" alt="#"></a>
                </div>
                <p>Lego Technic Monster Jam EI</p>
                <b>Rp. 288.800</b>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="https://res.cloudinary.com/ruparupa-com/image/upload/w_200,h_200/f_auto,q_auto/v1640662231/Products/10468750_1.webp" alt="#"></a>
                </div>
                <p>Lego Super Hero Iron Man</p>
                <b>Rp. 764.000</b>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="https://res.cloudinary.com/ruparupa-com/image/upload/w_200,h_200/f_auto,q_auto/v1629337745/Products/10454557_1.webp" alt="#"></a>
                </div>
                <p>Lego Super Mario Luigi</p>
                <b>Rp. 775.200</b>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="https://res.cloudinary.com/ruparupa-com/image/upload/w_200,h_200/f_auto,q_auto/v1662116268/Products/10468735_1.webp" alt="#"></a>
                </div>
                <p>Lego NinjaGo Llyrod Race</p>
                <b>Rp. 568.000</b>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="https://res.cloudinary.com/ruparupa-com/image/upload/w_200,h_200/f_auto,q_auto/v1640158104/Products/10468700_1.webp" alt="#"></a>
                </div>
                <p>Lego Technic Ford Mustang</p>
                <b>Rp. 982.000</b>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="https://res.cloudinary.com/ruparupa-com/image/upload/w_200,h_200/f_auto,q_auto/v1640148278/Products/10468695_1.webp" alt="#"></a>
                </div>
                <p>Lego The Batman Batmobil</p>
                <b>Rp. 1 572.000</b>
            </div>
            <div class="card">
                <div class="card-content">
                    <a href=""><img src="https://res.cloudinary.com/ruparupa-com/image/upload/w_200,h_200/f_auto,q_auto/v1626840776/Products/10454570_1.webp" alt="#"></a>
                </div>
                <p>Lego Harry Potter Hogwart Chess</p>
                <b>Rp. 764.000</b>
            </div>
        </div>
    
</body>
</html>